body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.target{
  border:3px solid red;
  border-radius:3px;
}

 /* class of starTrekDancer and all children images of starTrekDancer nodes */
.starTrekDancer, .starTrekDancer img{
  position:absolute;
  -webkit-transition: all 5s;
  transition: all 5s;
  transition-timing-function: ease-in-out;
}

 /* all transitions on monkeyDancer are 1 second*/
.monkeyDancer{
  position:absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-timing-function: ease-in-out;
}

 /* position absolute forces an element to stay in a specific palce
   z-index - the highter the numbers, the more front the image is
           - only works with position absolute */
.monkeyDancer img{
  position: absolute;
  z-index: -1;
}

.victor{
  text-align: center;
  font-size: 150px;
}